In [1]:
import pandas

In [3]:
pandas.read_csv('waterfalls.csv')

                          Name  Height (meters)
0  Bridalveil Fall, California              617
1      Multnomah Falls, Oregon              189
2      Niagara Falls, New York               51

In [2]:
ls

add-integers.ipynb  map-locations.ipynb  Untitled.ipynb  waterfalls.csv

In [4]:
def f(x, y):
    return x + y

In [5]:
f(1, 2)

3